@import url('https://fonts.googleapis.com/css?family=Open+Sans|Libre+Baskerville');

@import 'variables';

@import '~bulma/bulma';

.debug {
    font-family: monospace;
    border: 1px solid $grey-light;
}

.product-extra-dev-info {
    font-family: monospace;
    border: 2px solid $grey-light;
    padding: 2rem;
    margin: 2rem 0;
    background-color: $grey-lightest;
    font-size: 80%;

    .variant-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .variant {
            padding: 10px;
            background-color: $grey-lighter;
            border: 1px solid $grey;
            margin: 5px;

            img {
                max-width: 100px;
            }
        }
    }
}

.product {
    border: 1px solid $grey-light;
    padding: 2rem;

    .selected-image {
        display: block;
        border: 2px solid $grey-lighter;
    }

    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 1rem -10px;
        img {
            margin: 0 10px;
            max-width: 120px;
            border: 2px solid $grey-lighter;
            display: block;
            &:hover {
                cursor: pointer;
            }
        }
    }

    

    .product-options {
        display: flex;
        .variant-picker {
            margin-right: 1rem;
        }

    }
}